{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIVIDED DIFFERENCE METHOD</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styleapp.css' %}">
</head>

<body class="d-flex justify-content-center align-items-center" style="margin-top: 150px; background-color: #848478">

    <header class="fixed-top border-bottom border-dark" style="background-color: #aaaa91;">

        <div class=" container-fluid d-flex justify-content-between align-items-center">
            <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="" style="height: 90px;">

            <nav class="container-nav d-flex mx-4">
                <button class="border-0 bg-transparent"><a class="nav-link text-dark mx-3" href="/loginapp">Login</a></button>
                <button class="border-0 bg-transparent"><a class="nav-link text-dark mx-3" href="/signupapp">Sign up</a></button>
                <button class="border-0 bg-transparent"><a class="nav-link text-dark mx-3" href="#">Contact</a></button>
            </nav>
        </div>

    </header>

    <main class="container-fluid d-flex align-self-center" style="">
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>