{% extends 'base/baseapp.html' %}

{% block content %}

<div class="container-fluid pt-3 pb-3">
    <div>
        <h1 class="fw-bolder">
            Calculadora de Diferencias Divididas
        </h1>
    </div>
    <div class="row text-center m-5 p-5" style="background-color: antiquewhite;">
        <div class="col-md-4">
            <div class="d-flex align-items-center">
                <div class="circle bg-danger text-white mr-3 d-flex justify-content-center align-items-center" style="width: 80px; height: 80px; border-radius: 50%;">
                    <span class="step-number">1</span>
                </div>
                <div>
                    <p class="m-0">Paso 1</p>
                    <p class="text-primary" style="text-align: justify; max-width: 200px;">
                        Puede ingresar en los campos los puntos correspondientes.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="d-flex align-items-center">
                <div class="circle bg-danger text-white mr-3 d-flex justify-content-center align-items-center" style="width: 80px; height: 80px; border-radius: 50%;">
                    <span class="step-number">2</span>
                </div>
                <div>
                    <p class="m-0">Paso 2</p>
                    <p class="text-primary" style="text-align: justify; max-width: 200px;">
                        Tener en cuenta que el primer campo solo acepta una cantidad entre 3 a 100 puntos y los demas
                        campos se permiten cantidades enteras y decimales.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="d-flex align-items-center">
                <div class="circle bg-danger text-white mr-3 d-flex justify-content-center align-items-center" style="width: 80px; height: 80px; border-radius: 50%;">
                    <span class="step-number">3</span>
                </div>
                <div>
                    <p class="m-0">Paso 3</p>
                    <p class="text-primary" style="text-align: justify; max-width: 200px;">
                        Una vez haya ingresado todos los campos correctamente podra dar click a calcular donde se le
                        mostraran todos los resultados de acuerdo a los datos ingresados respectivamente.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <form method="POST" action="{% url 'realizarEjercicio' %}" class="rounded-2 border border-1 m-5 p-5" style="background-color: #9094af;">
        {% csrf_token %}
        <h4 class="mb-4 text-center">Metodo de diferencias divididas</h4>
        <div class="input-group mb-3">
            <input type="text" id="cantidad-puntos" class="form-control" placeholder="Ingrese la cantidad de puntos" aria-describedby="button-aceptar">
            <button class="btn btn-primary" type="button" id="button-aceptar">Aceptar</button>
        </div>
        <div class="row">
            <div class="puntosXY row">
                <label class="form-label">Ingrese el valor para el punto</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" disabled name="valorX1" placeholder="Valor de x">
                    <input type="text" class="form-control" disabled name="valorY1" placeholder="Valor de y">
                </div>
            </div>
        </div>
        {% if request.session.usuario %}
        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" value="" id="pasoApaso">
            <label class="form-check-label" for="pasoApaso">
                Ver paso a paso
            </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="verificarRespuesta">
            <label class="form-check-label" for="verificarRespuesta">
                Verificar respuesta
            </label>
        </div>
        {% else %}
        <div class="form-check mb-2">
            <input class="form-check-input"  disabled type="checkbox" id="pasoApaso">
            <label class="form-check-label" for="pasoApaso">
                Ver paso a paso
            </label>
            <br>
            <span class="text-warning">Valido solo para usuarios registrados</span>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" disabled type="checkbox" id="verificarRespuesta">
            <label class="form-check-label" for="verificarRespuesta">
                Verificar respuesta
            </label>
            <br>
            <span class="text-warning">Valido solo para usuarios registrados</span>
        </div>
        {% endif %}
        <button type="submit" id="Enviar" class="btn btn-primary">Submit</button>
    </form>
    {% if request.session.usuario %}
    <img src="data:image/png;base64,{{ iamgenG }}" alt="Imagen grafica">
    
    <h1>Tabla Diferencia Dividida</h1>
    <table>
        <thead>
            <tr>
                {% for nombre_columna in nombres_columnas %}
                    <th>{{ nombre_columna }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for fila in tabla %}
                <tr>
                    {% for valor in fila %}
                        <td>{{ valor }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Diferencias de cada iteracion</h1>
    <p>{{ dDividida }}</p>

    <h1>Polinomio</h1>
    <p>{{ polinomio }}</p>

    <h1>Polinomio simplificado</h1>
    <p>{{ polisimple }}</p>
    {% else %}
    <h1>Polinomio</h1>
    <p>{{ polinomio }}</p>

    <h1>Polinomio simplificado</h1>
    <p>{{ polisimple }}</p>
    {% endif %}

</div>
{% endblock %}