{% extends 'base/baseapp.html' %}

{% block content %}

<div class="container-fluid border border-white-50 rounded-4 mt-5" style="width: 400px; height: 450px; backdrop-filter: blur(20px); box-shadow: 0 0 30px rgba(0, 0, 0, .5); background-color: #2c2c2c">
    <div class="p-4">

        <h2 class="text-white text-center">Login</h2>

        <form method="POST" action="{% url 'loginUser' %}">
            {% csrf_token %}

            <div class="input-box">
                <span class="icon me-3"><ion-icon name="person-circle-outline"></ion-icon></span>
                <label class="my-2 text-white px-1">User</label>
                <input type="text" id="userLogin" name="userLogin" class="form-control rounded-pill">
            </div>

            <div class="input-box">
                <span class="icon me-3"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <label class="my-2 text-white px-1">Password</label>
                <input type="password" id="userPassword" name="userPassword" class="form-control rounded-pill">
            </div>

            <div class="d-flex justify-content-between my-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember">
                    <label class="form-check-label text-white" for="remember">Recordarme</label>
                </div>
                <a href="/recover" class="text-white">¿Contraseña olvidada?</a>
            </div>

            <!-- {% block messages %}
                {% if messages %}
                    <div class="text-center">
                        {% for msg in messages %}
                            <small class="text-danger">{{ msg }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %} -->

            {% if messages %}
            <div class="text-center">
                {% for msg in messages %}
                <small class="text-danger">{{ msg }}</small>
                {% endfor %}
            </div>
            {% endif %}

            <div class="d-flex justify-content-center my-3">
                <button type="submit" class="btn btn-primary btn-block rounded-pill">Login</button>
            </div>

            <div class="text-center">
                <a href="{% url 'guestPage' %}" class="text-success">Enter as guest</a>
            </div>

            <div class="text-center my-2">
                <p class="text-white">¿No tienes una cuenta? <a href="/signupapp" class="text-warning">Registrarse</a></p>
            </div>
        </form>

    </div>
</div>

<script>
    const rememberCheckbox = document.getElementById('remember');
    const passwordInput = document.getElementById('userPassword');

    rememberCheckbox.addEventListener('change', function() {
        if (rememberCheckbox.checked) {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    });
</script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons"></script>

{% endblock %}