{% extends 'base/baseapp.html' %}

{% block content %}

<div class="border border-white-50 rounded" style="width: 400px; height: 440px; backdrop-filter: blur(20px); box-shadow: 0 0 30px rgba(0, 0, 0, .5); background-color: #5e5e5e">
    <div class="p-4">

        <h2 class="text-white text-center">Login</h2>

        <form method="POST"  action="{% url 'loginUser' %}">
            {% csrf_token %}

            {% if messages %}
                {% for msg in messages %}
                    <b>{{ msg }}</b>
                {% endfor %}
            {% endif %}
            <!-- {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="message">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %} -->

            <div class="input-box">
                <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                <label class="my-2 text-white px-1">User</label>
                <input type="text" id="userLogin" name="userLogin" class="form-control rounded-pill">
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <label class="my-2 text-white px-1">Password</label>
                <input type="password" id="userPassword" name="userPassword" class="form-control rounded-pill">
            </div>

            <div class="d-flex justify-content-between my-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember">
                    <label class="form-check-label text-white" for="remember">Recordarme</label>
                </div>
                <a href="/recover" class="text-white">¿Contraseña olvidada?</a>
            </div>

            <div class="d-flex justify-content-center my-4">
                <button type="submit" class="btn btn-primary btn-block rounded-pill">Login</button>
            </div>

            <div class="text-center">
                <a href="#" class="text-dark">Enter as guest</a>
            </div>

            <div class="text-center my-3">
                <p class="text-white">¿No tienes una cuenta? <a href="/signupapp" class="text-warning">Registrarse</a></p>
            </div>
        </form>

    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons"></script>

{% endblock %}