{% extends 'base/baseapp.html' %}

{% block content %}

<div class="container-fluid border border-white-50 rounded" style="width: 400px; height: 490px; backdrop-filter: blur(20px); box-shadow: 0 0 30px rgba(0, 0, 0, .5); background-color: #2e2e2e">
    <div class="p-4">

        <h2 class="text-white text-center mb-3">Recover Password</h2>

        <form method="POST" action="{% url 'changePassword' %}">
            {% csrf_token %}

            <div class="input-box">
                <span class="icon me-3" style="line-height: 120px;"><ion-icon name="person-circle-outline"></ion-icon></span>
                <label class="my-2 text-white px-1">User</label>
                <input type="text" id="userRecover" name="userRecover" class="form-control rounded-pill" required>
            </div>

            <div class="input-box">
                <span class="icon me-3" style="line-height: 120px;"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <label class="my-2 text-white px-1">Password</label>
                <input type="password" id="passwordRecover" name="passwordRecover" class="form-control rounded-pill">
            </div>

            <div class="input-box">
                <span class="icon me-3" style="line-height: 120px;"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <label class="my-2 text-white px-1">Confirm password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control rounded-pill">
            </div>

            {% if messages %}
                <div class="text-center">
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <small class="text-danger">{{ message }}</small>
                        {% elif message.tags == 'success' %}
                            <small class="text-success">{{ message }}</small>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="d-flex justify-content-center my-4">
                <button type="submit" class="btn btn-primary btn-block rounded-pill">Confirm</button>
            </div>

            <div class="text-center">
                <p class="text-white"><a href="/loginapp" class="text-warning">Inicio</a></p>
            </div>
            <!-- <div class="text-center">
                <p class="text-white">¿No tienes una cuenta? <a href="/signupapp" class="text-warning">Register</a></p>
            </div> -->
        </form>

    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons"></script>

{% endblock %}