{% extends 'base/baseapp.html' %}

{% load static %}

{% block content %}

<div class="container-fluid border border-white-50 rounded" style="width: 400px; height: 535px; backdrop-filter: blur(20px); box-shadow: 0 0 30px rgba(0, 0, 0, .5); background-color: #2e2e2e">
    <div class="p-4">

        <h2 class="text-white text-center mb-1">Registration</h2>

        <form method="POST" action="{% url 'registerUser' %}" id="registerForm">
            {% csrf_token %}
            
            <div class="input-box">
                <span class="icon pr-4" style="line-height: 108px;"><ion-icon name="person-circle-outline"></ion-icon></span>
                <label class="my-1 text-white px-1">Full Name</label>
                <input type="text" id="fullName" name="fullName" class="form-control rounded-pill">
                <small id="fullNameError" class="form-text text-danger text-center">{{ fullNameError }}</small>
            </div>

            <div class="input-box">
                <span class="icon pr-4" style="line-height: 108px;"><ion-icon name="person-circle-outline"></ion-icon></span>
                <label class="my-1 text-white px-1">User</label>
                <input type="text" id="user" name="user" class="form-control rounded-pill">
                {% if userError %}
                    <small id="userError" class="form-text text-danger text-center">{{ userError }}</small>
                {% endif %}
                <!-- <small id="userError" class="form-text text-danger text-center">{{ userError }}</small> -->
            </div>

            <div class="input-box">
                <span class="icon pr-4" style="line-height: 108px;"><ion-icon name="mail-outline"></ion-icon></span>
                <label class="my-1 text-white px-1">Email</label>
                <input type="Email" id="email" name="email" class="form-control rounded-pill">
                {% if emailError %}
                    <small id="userError" class="form-text text-danger text-center">{{ emailError }}</small>
                {% endif %}
                <!-- <small id="emailError" class="form-text text-danger text-center">{{ emailError }}</small> -->
            </div>

            <div class="input-box">
                <span class="icon pr-4" style="line-height: 108px;"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <label class="my-1 text-white px-1">Password</label>
                <input type="password" id="password" name="password" class="form-control rounded-pill">
                {% if passwordError %}
                    <small id="userError" class="form-text text-danger text-center">{{ passwordError }}</small>
                {% endif %}
                <!-- <small id="passwordError" class="form-text text-danger text-center">{{ passwordError }}</small> -->
            </div>

            <div class="d-flex justify-content-center my-2">
                <button type="submit" id="registerButton" class="btn btn-primary btn-block rounded-pill">Register</button>
            </div>

            <div class="text-center">
                <p class="text-white">¿Ya tienes una cuenta? <a href="/loginapp" class="text-warning">Login</a></p>
            </div>
        </form>

    </div>
</div>

<!-- <script src="{% static 'js/validations.js' %}"></script> -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons"></script>

{% endblock %}