{% extends 'base/baseapp.html' %}

{% load static %}

{% block content %}

<div class="border border-white-50 rounded" style="width: 400px; height: 510px; backdrop-filter: blur(20px); box-shadow: 0 0 30px rgba(0, 0, 0, .5); background-color: #5e5e5e">
    <div class="p-4">

        <h2 class="text-white text-center mb-3">Registration</h2>
        <form method="POST" action="{% url 'registerUser' %}" id="registerForm">
            {% csrf_token %}
            <div class="input-box">
                <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                <label class="my-2 text-white px-1">User</label>
                <input type="text" id="user" name="user" class="form-control rounded-pill">
                <small id="userError" class="form-text text-danger text-center"></small>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                <label class="my-2 text-white px-1">Email</label>
                <input type="Email" id="email" name="email" class="form-control rounded-pill">
                <small id="emailError" class="form-text text-danger text-center"></small>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <label class="my-2 text-white px-1">Password</label>
                <input type="password" id="password" name="password" class="form-control rounded-pill">
                <small id="passwordError" class="form-text text-danger text-center"></small>
            </div>

            <div class="d-flex justify-content-center my-3">
                <button type="submit" id="registerButton" class="btn btn-primary btn-block rounded-pill">Register</button>
            </div>

            <div class="text-center">
                <p class="text-white">¿Ya tienes una cuenta? <a href="/loginapp" class="text-warning">Login</a></p>
            </div>
        </form>

    </div>
</div>

<script src="{% static 'js/validations.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons"></script>

{% endblock %}