* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    list-style: none;
}


.hover-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.hover-button:hover {
    background-color: rgb(66, 71, 67);
    color: black;
    border-color: rgb(83, 102, 96);
}

/* login */

.input-box .icon {
    position: absolute;
    right: 28px;
    font-size: 1.2em;
    /*color: #96a0a8;*/
    color: black;
    line-height: 120px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
border: 1px solid black;
padding: 8px;
text-align: center;
}

@keyframes difuminado {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .difuminado {
    animation: difuminado 1s ease-in-out;
  }

  @keyframes aparecer-arriba {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .aparecer-arriba {
    animation: aparecer-arriba 1s ease-in-out;
  }

  @keyframes aparecer-derecha {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .aparecer-derecha {
    animation: aparecer-derecha 1s ease-in-out;
  }

  @keyframes aparecer-abajo {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .aparecer-abajo {
    animation: aparecer-abajo 1s ease-in-out;
  }

  @keyframes aparecer-izquierda {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .aparecer-izquierda {
    animation: aparecer-izquierda 1s ease-in-out;
  }