* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    list-style: none;
}

.container-nav button a:hover {
    border-radius: 25px;
    background-color: rgb(189, 241, 202);
    color: black;
    border-color: rgb(121, 241, 201);
    
}

/* login */

.input-box .icon {
    position: absolute;
    right: 28px;
    font-size: 1.2em;
    /*color: #96a0a8;*/
    color: black;
    line-height: 120px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }