* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    list-style: none;
}

.exponente {
    font-size: 80%;
    vertical-align: super;
  }

.hover-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.hover-button:hover {
    background-color: rgb(66, 71, 67);
    color: black;
    border-color: rgb(83, 102, 96);
}

/* login */

.input-box .icon {
    position: absolute;
    right: 28px;
    font-size: 1.2em;
    /*color: #96a0a8;*/
    color: black;
    line-height: 120px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
border: 1px solid black;
padding: 8px;
text-align: center;
}